.widget-AlertBox {
    position: relative;
}
body,
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#wrap {
    position: relative;
    height: 100%;
    width: 100%;
}
#alert-box {
    height: 100%;
    width: 100%;
    position: absolute;
}
#alert-box.hidden,
.hidden {
    opacity: 0;
}
#alert-text {
    padding: 20px;
}
#alert-message,
#alert-user-message {
    text-align: left;
}
#alert-user-message img {
    vertical-align: middle;
    height: 1em;
}
#alert-image {
    position: relative;
}
#alert-image video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#alert-message > span > span {
    display: inline-block;
}
#alert-image {
    z-index: 6;
    position: relative;
}
#alert-text {
    z-index: 6;
    position: relative;
}
#alert-text-wrap {
    z-index: 6;
    position: relative;
}

#alert-message {
    font-family: consolas, monospace !important;
}

.awc-term {
    background-color: #2d0922;
    padding: 12px;
    width: 720px;
}

.awc-name-wrapper {
    padding-right: 50px;
}

.awc-name {
    overflow: hidden;
    white-space: nowrap;
}

.awc-name span::after {
    content: "...............";
    display: inline-block;
}

.awc-passed {
    background-color: #4e9a06;
}
